################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/6502-CPU/.vs
/out/build/x64-Debug
/test6502/.vs
/test6502/NES/.vs/NES
/test6502/NES/NES/x64/Debug
/XXX
/cmake-build-debug
/future
/.vscode